.m
  {
  border: 1px solid #DBE1EB;
  font-size: -2px;
  font-family: Grabriola;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  
.kreg
{
    padding: 20px;
    background: #f2fdfe;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #7ee7fd;
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
}

.ktitulo
{
    font-family: cursive,serif;
    font-size: 30px;
    color: #666;
    text-align: center;
    display: block;
}
.kbien
{
    width: 75%;
    
}